html{
margin:0 36px;
background-color: black;
}
body{
width: 1440px;
height: 4653px;
background-color: rgba(236, 246, 254, 1);
margin: 0px;
}
.header{
width: 1344px;
padding: 16px 0;
border: 0px 0px 1px 0px;
margin:0 48px;
display: flex;
justify-content: space-between;
}
.logo{
width: 331px;
height: 48px;
gap: 12px;

}
.logo span{
width: 331px;
font-family: Syne;
font-size: 42px;
font-weight: 800;
letter-spacing: -0.04em;
text-align: left;
color: rgba(56, 22, 100, 1);
}
.links{
width: 476px;
height:32px;
display: flex;
gap: 32px;
margin:8px 0;
}
#h{
width: 81px;
height: 32px;
font-family: Syne;
font-size: 28px;
font-weight: 500;
line-height: 32px;
letter-spacing: -0.01em;
text-align: left;
text-decoration: none;
color: rgba(56, 22, 100, 1);
}
#p{
width: 111px;
height: 32px;
font-family: Syne;
font-size: 28px;
font-weight: 500;
line-height: 32px;
letter-spacing: -0.01em;
text-align: left;
text-decoration: none;
color: rgba(56, 22, 100, 1);
}
#a{
width: 81px;
height: 32px;
font-family: Syne;
font-size: 28px;
font-weight: 500;
line-height: 32px;
letter-spacing: -0.01em;
text-align: left;
text-decoration: none;
color: rgba(56, 22, 100, 1);
}
#c{
width: 108px;
height: 32px;
font-family: Syne;
font-size: 28px;
font-weight: 500;
line-height: 32px;
letter-spacing: -0.01em;
text-align: left;
text-decoration: none;
color: rgba(56, 22, 100, 1);
}
.divider{
width: 1439px;
height: 0px;
border: 0.5px solid rgba(68, 10, 143, 1)
}
.container{
width: 1344px;
height: 4309px;
margin:0 48px;
padding: 48px 0;
}
.main-container{
width: 1344px;
height: 4307px;
padding:  1px;
}
.leanding-page{
width: 1344px;
height: 960px;
padding: 96px 0px;
gap: 48px;
}
.heading{
width: 1344px;
height: 240px;
text-align: center;
}
.heading span{
font-family: Syne;
font-size: 120px;
font-weight: 700;
line-height: 120px;
letter-spacing: -0.02em;
text-align: center;
color: rgba(56, 22, 100, 1);
}
.heading img{
margin-top: 48px;
width: 1342px;
height: 670px;
border-radius: 22px;
border: 1px solid rgba(68, 10, 143, 1)
}
.personal{
width: 1344px;
height: 1191px;
border: 0px 0px 1px 0px;
}
.row1{
width: 1344px;
height: 333px;
padding: 48px 0px;
gap: 48px;
display: flex;
}
.row2{
width: 1344px;
height: 333px;
padding-bottom: 48px;
gap: 48px;
display: flex;
}
.row3{
width: 1344px;
height: 333px;
padding-bottom: 48px;
gap: 48px;
display: flex;
}
.project1 img{
width: 414px;
height: 275px;
border: 1px solid rgba(68, 10, 143, 1)
}
.text{
width: 416px;
height: 48px;
}
.line1{
width: 416px;
height: 24px;
gap: 0px;
opacity: 0px;
}
.line1 span{
font-family: Familjen Grotesk;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(56, 22, 100, 1);
}
.line2{
width: 416px;
height: 24px;
}
.line2 span{
font-family: Familjen Grotesk;
font-size: 17px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(56, 22, 100, 1);
}
.portfolio{
width:1,344px;
height:154px;
padding: 48px 0px ;
gap: 48px;
display: flex;
}
.spacer{
width: 648px;
height: 154px;
}
.stext{
width: 648px;
height: 154px;
}
.stext span{
font-family: Familjen Grotesk;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.005em;
text-align: left;
color: rgba(56, 22, 100, 1);

}
.leanding-single{
width: 1344px;
height: 900px;
}
/* .rectangle{
width: 1536px;
height: 900px;
left: -96px;
background-color: radial-gradient(184.11% 185.17% at 28.27% 7.59%, rgba(236, 246, 254, 0.7) 37.83%, rgba(68, 10, 143, 0.042) 100%);

} */
.about{
width: 1344px;
height: 312px;
padding: 96px 0px ;
border: 0px 0px 1px 0px;
}
.abtext{
width: 900px;
height: 312px;
max-width: 900px;
text-align: center;
margin: 0px 222px;
}
.abtext span{
font-family: Syne;
font-size: 48px;
font-weight: 500;
line-height: 52px;
letter-spacing: -0.01em;
text-align: center;
color: rgba(56, 22, 100, 1);
}
.agency{
width: 1344px;
height:216px;
padding: 48px 0px;
gap: 24px;
border: 0px 0px 1px 0px;
}
.contect{
width: 900px;
height: 32px;
max-width: 900px;
margin: 0 222px 32px 222px;
}
.contect span{
font-family: Syne;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.01em;
text-align: left;
color: rgba(56, 22, 100, 1);
}
.acontainer{
width: 900px;
height: 160px;
max-width: 900px;
gap: 48px;
display: flex;
margin: 0 222px;
}
.type-work{
width:268px;
height:112px;
}
.t1{
width: 268px;
height: 28px;
}
.t1 span{
font-family: Familjen Grotesk;
font-size: 17px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: rgba(56, 22, 100, 1);
}
.footer{
width: 1344px;
height: 48px;
margin: 0 48px;
padding: 96px 0px 24px 0px;
gap: 24px;
border: 1px 0px 0px 0px;

}
.f-container{
width: 1344px;
height: 48px;
justify-content: space-between;
display: flex;
}
.copyright{
width: 324px;
height: 32px;
gap: 32px;
}
.copyright span{
width: 324px;
font-family: Syne;
font-size: 28px;
font-weight: 500;
line-height: 32px;
letter-spacing: -0.01em;
text-align: left;
color: rgba(56, 22, 100, 1);
}
.bottom{
width: 84px;
height: 22px;
padding: 12px 24px ;
border-radius: 8px;
border: 1px solid rgba(68, 10, 143, 1)
}
.bottom span{
width: 84px;
height: 22px;
font-family: Space Mono;
font-size: 20px;
font-weight: 700;
text-align: center;
color: rgba(56, 22, 100, 1);
}